{% load static %}
<nav class="navbar">
  <div class="nav-container">
    <div class="nav-logo">
      <img src="{% static 'img/logo.png' %}" alt="BlowSquared Logo" class="logo-img">
    </div>
    <div class="nav-menu">
      <a href="{% url 'home' %}" class="nav-link">Home</a>
      <a href="{% url 'prodotti:list' %}" class="nav-link">Prodotti</a>
      <a href="#carrello" class="nav-link">Carrello</a>
      <a href="#negozi" class="nav-link">Negozi</a>
      <a href="#forum" class="nav-link">Forum</a>
    </div>
    <div class="nav-auth">
      <a href="#account" class="nav-link">Account</a>
    </div>
  </div>
</nav>
